In [5]:
import pandas as pd
dt=pd.read_csv('gdp.csv')

In [6]:
dt

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,9.787080e+11,8.982780e+11,8.289430e+11,9.729990e+11,1.012310e+12,1.009720e+12,9.333920e+11,1.085750e+12,1.191420e+12,1.245470e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,8.974160e+11,7.717670e+11,6.943610e+11,6.878490e+11,7.704950e+11,8.264840e+11,7.898020e+11,8.493120e+11,8.839740e+11,7.991060e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359670e+11,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.044000e+11,8.482465e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074395e+09,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.052610e+11,3.893300e+11,3.379750e+11,4.208870e+11,4.069200e+11,3.806990e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10

In [7]:
dt.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [8]:
dt.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2019              float64
2020              float64
2021              float64
2022              float64
2023              float64
Length: 68, dtype: object

In [9]:
dt.shape

(266, 68)

In [11]:
dt.describe

<bound method NDFrame.describe of                     Country Name Country Code     Indicator Name  \
0                          Aruba          ABW  GDP (current US$)
1    Africa Eastern and Southern          AFE  GDP (current US$)
2                    Afghanistan          AFG  GDP (current US$)
3     Africa Western and Central          AFW  GDP (current US$)
4                         Angola          AGO  GDP (current US$)
..                           ...          ...                ...
261                       Kosovo          XKX  GDP (current US$)
262                  Yemen, Rep.          YEM  GDP (current US$)
263                 South Africa          ZAF  GDP (current US$)
264                       Zambia          ZMB  GDP (current US$)
265                     Zimbabwe          ZWE  GDP (current US$)

     Indicator Code          1960          1961          1962          1963  \
0    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1    NY.GDP.MKTP.CD  2.421063e+10  2.496398e+10  2.707880e+10  3.177575e+10
2    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
3    NY.GDP.MKTP.CD  1.190495e+10  1.270788e+10  1.363076e+10  1.446909e+10
4    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
..              ...           ...           ...           ...           ...
261  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
262  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
263  NY.GDP.MKTP.CD  8.748597e+09  9.225996e+09  9.813996e+09  1.085420e+10
264  NY.GDP.MKTP.CD  6.987397e+08  6.823597e+08  6.792797e+08  7.043397e+08
265  NY.GDP.MKTP.CD  1.052990e+09  1.096647e+09  1.117602e+09  1.159512e+09

             1964          1965  ...          2014          2015  \
0             NaN           NaN  ...  2.790850e+09  2.962907e+09
1    3.028579e+10  3.381317e+10  ...  9.787080e+11  8.982780e+11
2             NaN           NaN  ...  2.049713e+10  1.913422e+10
3    1.580376e+10  1.692109e+10  ...  8.974160e+11  7.717670e+11
4             NaN           NaN  ...  1.359670e+11  9.049642e+10
..            ...           ...  ...           ...           ...
261           NaN           NaN  ...  7.074395e+09  6.295848e+09
262           NaN           NaN  ...  4.322859e+10  4.244449e+10
263  1.195600e+10  1.306899e+10  ...  3.811990e+11  3.467100e+11
264  8.226397e+08  1.061200e+09  ...  2.714102e+10  2.125122e+10
265  1.217138e+09  1.311436e+09  ...  1.949552e+10  1.996312e+10

             2016          2017          2018          2019          2020  \
0    2.983635e+09  3.092429e+09  3.276184e+09  3.395799e+09  2.481857e+09
1    8.289430e+11  9.729990e+11  1.012310e+12  1.009720e+12  9.333920e+11
2    1.811657e+10  1.875346e+10  1.805322e+10  1.879944e+10  1.995593e+10
3    6.943610e+11  6.878490e+11  7.704950e+11  8.264840e+11  7.898020e+11
4    5.276162e+10  7.369015e+10  7.945069e+10  7.089796e+10  4.850156e+10
..            ...           ...           ...           ...           ...
261  6.682677e+09  7.180765e+09  7.878760e+09  7.899738e+09  7.717145e+09
262  3.131782e+10  2.684223e+10  2.160616e+10           NaN           NaN
263  3.235860e+11  3.814490e+11  4.052610e+11  3.893300e+11  3.379750e+11
264  2.095841e+10  2.587360e+10  2.631151e+10  2.330867e+10  1.813776e+10
265  2.054868e+10  5.107466e+10  3.415607e+10  2.571741e+10  2.686794e+10

             2021          2022          2023
0    2.929447e+09  3.279344e+09  3.648573e+09
1    1.085750e+12  1.191420e+12  1.245470e+12
2    1.426000e+10  1.449724e+10  1.723305e+10
3    8.493120e+11  8.839740e+11  7.991060e+11
4    6.650513e+10  1.044000e+11  8.482465e+10
..            ...           ...           ...
261  9.413404e+09  9.354903e+09  1.046822e+10
262           NaN           NaN           NaN
263  4.208870e+11  4.069200e+11  3.806990e+11
264  2.209642e+10  2.916378e+10  2.757796e+10
265  2.724052e+10  3.278975e+10  3.523137e+10

[266 rows x 68 columns]>

In [12]:
dt.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,9.787080e+11,8.982780e+11,8.289430e+11,9.729990e+11,1.012310e+12,1.009720e+12,9.333920e+11,1.085750e+12,1.191420e+12,1.245470e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,8.974160e+11,7.717670e+11,6.943610e+11,6.878490e+11,7.704950e+11,8.264840e+11,7.898020e+11,8.493120e+11,8.839740e+11,7.991060e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359670e+11,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.044000e+11,8.482465e+10
5,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.537951e+10,1.558511e+10,1.524146e+10,1.803201e+10,1.901724e+10,2.354718e+10
6,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.324648e+09,3.380613e+09,3.785067e+09
7,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,1.999708e+10,2.032767e+10,2.236296e+10,2.481163e+10,2.676929e+10,...,2.905650e+12,2.544700e+12,2.500820e+12,2.572200e+12,2.867350e+12,2.899030e+12,2.562780e+12,2.969240e+12,3.609810e+12,3.512420e+12
8,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.141050e+11,3.702750e+11,3.692550e+11,3.905170e+11,4.270490e+11,4.179900e+11,3.494730e+11,4.151790e+11,5.027320e+11,5.141300e+11
9,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,...,5.263200e+11,5.947490e+11,5.575320e+11,6.436280e+11,5.248200e+11,4.477550e+11,3.857410e+11,4.865640e+11,6.327900e+11,6.460750e+11

In [13]:
dt.tail(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
256,Virgin Islands (U.S.),VIR,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.565000e+09,3.663000e+09,3.798000e+09,3.794000e+09,3.923000e+09,4.121000e+09,4.229000e+09,4.507000e+09,4.672000e+09,NaN
257,Viet Nam,VNM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.334510e+11,2.392580e+11,2.570960e+11,2.813540e+11,3.101060e+11,3.343650e+11,3.466160e+11,3.664750e+11,4.103240e+11,4.297170e+11
258,Vanuatu,VUT,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.723160e+08,7.308708e+08,7.808896e+08,8.800618e+08,9.147370e+08,9.365263e+08,9.094210e+08,9.503940e+08,1.022219e+09,1.126313e+09
259,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.371950e+12,1.445950e+12,1.550600e+12,1.669570e+12,1.830170e+12,1.994300e+12,...,8.002030e+13,7.547250e+13,7.670260e+13,8.171200e+13,8.688480e+13,8.814990e+13,8.576300e+13,9.784830e+13,1.017710e+14,1.061720e+14
260,Samoa,WSM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.966835e+08,8.241505e+08,8.439248e+08,8.848444e+08,8.784484e+08,9.129505e+08,8.688984e+08,8.439236e+08,8.329452e+08,9.381894e+08
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074395e+09,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.052610e+11,3.893300e+11,3.379750e+11,4.208870e+11,4.069200e+11,3.806990e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10

In [14]:
dt.isnull()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
262,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,True,True,True,True,True
263,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
264,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
265,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
dt.isnull

<bound method DataFrame.isnull of                     Country Name Country Code     Indicator Name  \
0                          Aruba          ABW  GDP (current US$)
1    Africa Eastern and Southern          AFE  GDP (current US$)
2                    Afghanistan          AFG  GDP (current US$)
3     Africa Western and Central          AFW  GDP (current US$)
4                         Angola          AGO  GDP (current US$)
..                           ...          ...                ...
261                       Kosovo          XKX  GDP (current US$)
262                  Yemen, Rep.          YEM  GDP (current US$)
263                 South Africa          ZAF  GDP (current US$)
264                       Zambia          ZMB  GDP (current US$)
265                     Zimbabwe          ZWE  GDP (current US$)

     Indicator Code          1960          1961          1962          1963  \
0    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1    NY.GDP.MKTP.CD  2.421063e+10  2.496398e+10  2.707880e+10  3.177575e+10
2    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
3    NY.GDP.MKTP.CD  1.190495e+10  1.270788e+10  1.363076e+10  1.446909e+10
4    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
..              ...           ...           ...           ...           ...
261  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
262  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
263  NY.GDP.MKTP.CD  8.748597e+09  9.225996e+09  9.813996e+09  1.085420e+10
264  NY.GDP.MKTP.CD  6.987397e+08  6.823597e+08  6.792797e+08  7.043397e+08
265  NY.GDP.MKTP.CD  1.052990e+09  1.096647e+09  1.117602e+09  1.159512e+09

             1964          1965  ...          2014          2015  \
0             NaN           NaN  ...  2.790850e+09  2.962907e+09
1    3.028579e+10  3.381317e+10  ...  9.787080e+11  8.982780e+11
2             NaN           NaN  ...  2.049713e+10  1.913422e+10
3    1.580376e+10  1.692109e+10  ...  8.974160e+11  7.717670e+11
4             NaN           NaN  ...  1.359670e+11  9.049642e+10
..            ...           ...  ...           ...           ...
261           NaN           NaN  ...  7.074395e+09  6.295848e+09
262           NaN           NaN  ...  4.322859e+10  4.244449e+10
263  1.195600e+10  1.306899e+10  ...  3.811990e+11  3.467100e+11
264  8.226397e+08  1.061200e+09  ...  2.714102e+10  2.125122e+10
265  1.217138e+09  1.311436e+09  ...  1.949552e+10  1.996312e+10

             2016          2017          2018          2019          2020  \
0    2.983635e+09  3.092429e+09  3.276184e+09  3.395799e+09  2.481857e+09
1    8.289430e+11  9.729990e+11  1.012310e+12  1.009720e+12  9.333920e+11
2    1.811657e+10  1.875346e+10  1.805322e+10  1.879944e+10  1.995593e+10
3    6.943610e+11  6.878490e+11  7.704950e+11  8.264840e+11  7.898020e+11
4    5.276162e+10  7.369015e+10  7.945069e+10  7.089796e+10  4.850156e+10
..            ...           ...           ...           ...           ...
261  6.682677e+09  7.180765e+09  7.878760e+09  7.899738e+09  7.717145e+09
262  3.131782e+10  2.684223e+10  2.160616e+10           NaN           NaN
263  3.235860e+11  3.814490e+11  4.052610e+11  3.893300e+11  3.379750e+11
264  2.095841e+10  2.587360e+10  2.631151e+10  2.330867e+10  1.813776e+10
265  2.054868e+10  5.107466e+10  3.415607e+10  2.571741e+10  2.686794e+10

             2021          2022          2023
0    2.929447e+09  3.279344e+09  3.648573e+09
1    1.085750e+12  1.191420e+12  1.245470e+12
2    1.426000e+10  1.449724e+10  1.723305e+10
3    8.493120e+11  8.839740e+11  7.991060e+11
4    6.650513e+10  1.044000e+11  8.482465e+10
..            ...           ...           ...
261  9.413404e+09  9.354903e+09  1.046822e+10
262           NaN           NaN           NaN
263  4.208870e+11  4.069200e+11  3.806990e+11
264  2.209642e+10  2.916378e+10  2.757796e+10
265  2.724052e+10  3.278975e+10  3.523137e+10

[266 rows x 68 columns]>

In [16]:
dt['Country Name']

0                            Aruba
1      Africa Eastern and Southern
2                      Afghanistan
3       Africa Western and Central
4                           Angola
                  ...
261                         Kosovo
262                    Yemen, Rep.
263                   South Africa
264                         Zambia
265                       Zimbabwe
Name: Country Name, Length: 266, dtype: object

In [17]:
dt['2014'].sum()

655769204434467.8

In [18]:
dt['1960'].sum()

10247149081123.33

In [21]:
dt=dt.drop(columns=['1960'])

In [22]:
dt

,Country Name,Country Code,Indicator Name,Indicator Code,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,3.693497e+10,...,9.787080e+11,8.982780e+11,8.289430e+11,9.729990e+11,1.012310e+12,1.009720e+12,9.333920e+11,1.085750e+12,1.191420e+12,1.245470e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,1.803417e+10,...,8.974160e+11,7.717670e+11,6.943610e+11,6.878490e+11,7.704950e+11,8.264840e+11,7.898020e+11,8.493120e+11,8.839740e+11,7.991060e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359670e+11,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.044000e+11,8.482465e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074395e+09,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,...,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.052610e+11,3.893300e+11,3.379750e+11,4.208870e+11,4.069200e+11,3.806990e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,1.239000e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10

In [23]:
dt.iloc[2]

Country Name            Afghanistan
Country Code                    AFG
Indicator Name    GDP (current US$)
Indicator Code       NY.GDP.MKTP.CD
1961                            NaN
                        ...
2019                  18799444490.0
2020                  19955929052.0
2021                  14259995441.0
2022                  14497243872.0
2023                  17233051620.0
Name: 2, Length: 67, dtype: object

In [24]:
a,b=dt.shape
print("number of rows:",a)
print("number of colums:",b)

number of rows: 266
number of colums: 67

In [28]:
dt["1961"].min()

11592023.76

In [30]:
dt["2014"].max()

80020300000000.0